name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version-file: ./go.mod
          cache: true
      - name: Download modules
        run: go mod download
      - name: Report likely mistakes
        run: go vet ./...
      - name: Staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest && staticcheck ./...
      - name: Build
        run: CGO_ENABLED=0 go build -buildmode pie
