name: Docker

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v2

      - uses: docker/setup-buildx-action@v1

      - uses: docker/login-action@v1
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/login-action@v1
        if: ${{ github.actor != 'dependabot[bot]' }}
        with:
          registry: registry.misw.jp
          username: admin
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v2
        with:
          images: |
            ghcr.io/misw/mischan-bot
            registry.misw.jp/mischan-bot/mischan-bot
          tags: |
            type=ref,event=branch
            type=sha

      - name: Build and push images
        uses: docker/build-push-action@v2
        with:
          push: ${{ github.actor != 'dependabot[bot]' }}
          context: "."
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
